*{
  box-sizing: border-box;
}

body{
  font-family: 'Footlight MT Light';
}

/*Lado lateral*/
.lateral{
  background-color: rgba(46, 157, 7, 0.97);
  bottom: 0;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 350px;
}

/*     Perfil     */
.perfil_min{
  border-radius: 50%;
  height: 60px;
  overflow: hidden;
  margin: 0;
  width: 60px;
}

/*   Foto perfil  */
.foto{
  width: 100%;
}

.nombre{
  color: rgba(255, 255, 255, 0.97);
  font-size: 25px;
  margin-left: .5em;
  width: 200px;
}

.nombre, .perfil_min{
  display: inline-block;
  vertical-align: middle;
}

/*      Información      */
.info{
    color: rgba(38, 41, 37, 0.94);
    position: absolute;
    bottom: 1em;
}

.info_titulo{
  font-size: 20px;
}

/*      Habilidades       */
.habilidades{
    padding: 0;
}

.habilidad{
  background-color: rgb(19, 102, 107);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: .5em;
}

.habilidad_perfil{
  background-color: rgb(10, 125, 150);
  border-color: rgba(180, 186, 199, 0.89);
  border-style: ridge;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: .5em;
}

/*      Proyectos       */
.proyectos{
  margin-left: 350px;
  padding: 1.5em;
  display: table;
}

.proyecto{
  display: table-cell;
  padding: 1em;
  width: 50%;
}

.proyecto_imagen{
  width: 100%;
}

.proyecto_titulo{
  color: rgb(19, 102, 107);
  font-size: 20px;
}

.proyecto_desc{
  color: rgb(9, 53, 71);
}
